<ul class="sidebar-items" #sidebar>
    <li>
        <a href="#">
            <div>
                <span class="oi oi-layers"></span>
            </div>
            <span>Kategorien</span>
        </a>
    </li>
    <li>
        <a href="#">
            <div>
                <span class="oi oi-cog"></span>
            </div>
            <span>Einstellungen</span>
        </a>
    </li>
    <li>
        <a href="#">
            <div>
                <span class="oi oi-info"></span>
            </div>
            <span>About</span>
        </a>
    </li>
</ul>