<div class="modal bd-example-modal-sm" id="editPartModal" tabindex="-1" role="dialog"
    aria-labelledby="editPartModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editPartModalTitle">{{ part?.name }} bearbeiten</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Fach</span>
                    </div>
                    <input type="text" class="form-control" id="box" value="{{ part?.box }}" #box>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Anzahl</span>
                    </div>
                    <input type="text" class="form-control" id="qty" value="{{ part?.qty }}" #qty>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                    <button type="button" class="btn btn-primary" (click)="partEdit()"
                        data-dismiss="modal">Speichern</button>
                </div>
            </div>
        </div>
    </div>
</div>