<form [formGroup]="editPartForm" (ngSubmit)="onPartEdit()">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-edit-title">{{ part?.name }} bearbeiten</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Fach</span>
            </div>
            <input type="text" class="form-control" id="box" formControlName="box">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Anzahl</span>
            </div>
            <input type="text" class="form-control" id="qty" formControlName="qty">
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="!editPartForm.valid">Speichern</button>
        <button type="button" class="btn btn-secondary" (click)="activeModal.close('Cancel click')">Abbrechen</button>
    </div>
</form>