<div class="modal-header">
    <h5 class="modal-title" id="modal-create-title">{{ part?.name }} erstellen</h5>
    <!-- <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button> -->
</div>
<div class="modal-body">
    <form [formGroup]="createPartFormGroup" (ngSubmit)="onPartCreate()">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Name</span>
            </div>
            <input type="text" class="form-control" id="name" formControlName="name">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Fach</span>
            </div>
            <input type="text" class="form-control" id="box" formControlName="box">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Anzahl</span>
            </div>
            <input type="text" class="form-control" id="qty" formControlName="qty">
        </div>

        <!-- Custom attribs -->
        <div *ngFor="let item of formArrayItems | skipEmptyElements" formArrayName="customAttribs_{{item.key}}">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <input type="text" formControlName="0" class="form-control" placeholder="Attribut" (keyup)="onCheckCustomAttribute($event, item.key)">
                </div>
                <input type="text" formControlName="1" class="form-control" placeholder="Wert" (keyup)="onCheckCustomAttribute($event, item.key)">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button ngbAutofocus type="button" ngbAutoFocus class="btn btn-primary" [disabled]="!createPartFormGroup.valid" (click)="onPartCreate()">Speichern</button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Cancel click')">Abbrechen</button>
</div>