<div class="modal-header">
    <h5 class="modal-title" id="modal-detail-title">Details von {{ part?.name }}</h5>
    <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button> -->
</div>
<div class="modal-body">
    <table *ngIf="part.attribs.size == 0" class="mx-auto">
        <tbody>
            <tr>
                <td><i class="pull-left oi oi-info mr-3"></i></td>
                <td><span>Es wurden keine weiteren Eigenschaften definiert.</span></td>
            </tr>
        </tbody>
    </table>

    <table *ngIf="part.attribs.size > 0" class="table table-sm table-borderless">
        <tbody>
            <tr class="d-flex" *ngFor="let attrib of part.attribs | keyvalue">
                <td class="col-6">
                    <p><strong>{{attrib.key}}</strong></p>
                </td>
                <td class="col-6">
                    <p>{{attrib.value}}</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button ngbAutofocus type="button" class="btn btn-primary" (click)="modal.close('Ok click')">
        Ok
    </button>
</div>