<div class="modal-header">
    <h4 class="modal-title" id="modal-detail-title">Details von {{ part?.name }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <table class="table table-sm table-borderless">
        <tbody>
            <tr class="d-flex">
                <td class="col-6">
                    <p><strong>Name</strong></p>
                </td>
                <td class="col-6">
                    <p>{{part?.name}}</p>
                </td>
            </tr>
            <tr class="d-flex">
                <td class="col-6">
                    <p><strong>Fach</strong></p>
                </td>
                <td class="col-6">
                    <p>{{part?.box}}</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Ok click')">Ok</button>
</div>