<!-- Main area for listing all existing parts inside table -->
<div class="container-fluid">
    <table class="table table-hover table-borderless">
        <thead>
            <tr class="d-flex">
                <th scope="col" class="col-3">Teil</th>
                <th scope="col" class="col-3">Fach</th>
                <th scope="col" class="col-3">Anzahl</th>
                <th scope="col" class="col-3 text-right">Aktion</th>
            </tr>
        </thead>
        <tbody>
            <div *ngIf="parts == null || parts.length == 0" class="d-flex justify-content-center">
                <div class="spinner-grow" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <tr class="d-flex" *ngFor="let part of parts" app-part [part]="part"></tr>
        </tbody>
    </table>
</div>