<form [formGroup]="newPartForm" (ngSubmit)="onCreatePart()" id="newPartForm">
    <input type="text" class="form-control form-control-sm" placeholder="Teilename" formControlName="name">
    <input type="text" class="form-control form-control-sm" placeholder="Fach" formControlName="box">
    <input type="text" class="form-control form-control-sm" placeholder="Anz." formControlName="qty">

    <button type="submit" [disabled]="!newPartForm.valid" class="btn btn-sm btn-primary">
        <span class="oi oi-plus"></span>
    </button>
</form>

<div class="container-fluid">
    <table class="table table-hover">
        <thead>
            <tr class="d-flex">
                <th scope="col" class="col-3">Teilename</th>
                <th scope="col" class="col-3">Fach</th>
                <th scope="col" class="col-3">Anzahl</th>
                <th scope="col" class="col-3 text-right">Aktion</th>
            </tr>
        </thead>
        <tbody>
            <tr class="d-flex" *ngFor="let part of parts" app-part [part]="part"></tr>
        </tbody>
    </table>
</div>