<!-- Area for creating new parts -->
<!-- <div class="container-fluid">
    <form [formGroup]="newPartForm" (ngSubmit)="onCreatePart()" id="newPartForm" class="mb-3">
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control form-control-sm" placeholder="Teilename" formControlName="name">
            </div>
            <div class="col">
                <input type="text" class="form-control form-control-sm" placeholder="Fach" formControlName="box">
            </div>
            <div class="col">
                <input type="text" class="form-control form-control-sm" placeholder="Anzahl" formControlName="qty">
            </div>
            <div class="col">
                <div class="text-right">
                    <button type="submit" [disabled]="!newPartForm.valid" class="btn btn-sm btn-primary">
                        <span class="oi oi-plus"></span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div> -->

<!-- Main area for listing all existing parts inside table -->
<div class="container-fluid">
    <table class="table table-hover table-borderless">
        <thead>
            <tr class="d-flex">
                <th scope="col" class="col-3">Teil</th>
                <th scope="col" class="col-3">Fach</th>
                <th scope="col" class="col-3">Anzahl</th>
                <th scope="col" class="col-3 text-right">Aktion</th>
            </tr>
        </thead>
        <tbody>
            <tr class="d-flex" *ngFor="let part of parts" app-part [part]="part"></tr>
        </tbody>
    </table>
</div>