@import 'bootstrap';

app-navbar {
    //@extend .d-flex;
    @extend .w-100;
    @extend .position-fixed;
    //@extend .flex-grow-1;

    //display: flex;
    //flex-direction: row;
    //width: 100vw;

    background-color: #303030;
    box-shadow: 1px 0px 5px 0px black;
    height: 3rem;
    z-index: $zindex-sticky;
}

app-sidebar {
    @extend .d-flex;
    //@extend .h-auto;
    @extend .position-fixed;

    //display: flex;
    //flex-direction: column;
    background-color: #303030;
    margin-top: 3rem;
    bottom: 0;
    top: 0;
    z-index: $zindex-sticky - 1;
}

.main {
    padding-top: 4rem;
}
