<td (click)="openPartDetailModal()" style="cursor: pointer" data-toggle="modal" data-target="#actionPartModal"
    class="col-3 text-truncate">{{ part.name }}</td>
<td (click)="openPartDetailModal()" style="cursor: pointer" data-toggle="modal" data-target="#actionPartModal"
    class="col-3 text-truncate">{{ part.box }}</td>
<td (click)="openPartDetailModal()" style="cursor: pointer" data-toggle="modal" data-target="#actionPartModal"
    class="col-3 text-truncate">{{ part.qty }}</td>

<td class="col-3 text-right">
    <div class="btn-group">
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editPartModal"
            (click)="openPartEditModal()"><span class="oi oi-pencil"></span>
        </button>
        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deletePartModal"
            (click)="openPartDeleteModal()"><span class="oi oi-trash"></span>
        </button>
    </div>
</td>